.table-scrollable{
    border: 1px solid #4a5d8e;
    color:#fff;
    text-align: center
}
.table-scrollable>.table{
    background: #0b1024;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100px;
}
.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border: 1px solid #1e2744;
}
.deongaree{
    background: #000d2f;
    table-layout: fixed;
}
.deongaree th em{
    margin-left:5px;
}

.table>thead>tr>th{
    text-align: center !important;
}
.table-hover>tbody>tr:hover, .table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
    background-color: #415790;
}
.pink{
    background: #ffa5a5
}
.red{
    background: #ff5454
}
.russetish{
    background: #ff0000
}
.square{
    display: inline-block;
    width:10px;
    height:10px;
}
.form-input{
    width:15%;
    margin:0 5px;
    background:#0b1024;
    border:1px solid #4a5d8e;
}
.confirm{
    line-height:18px;
    background:#1f3b62;
    border:none;
    color:#fff;
    font-size: 12px;
    padding:4px 8px;
    margin-left:10px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
     background-color: #000;
}
table.dataTable td.sorting_1, table.dataTable td.sorting_2, table.dataTable td.sorting_3, table.dataTable th.sorting_1, table.dataTable th.sorting_2, table.dataTable th.sorting_3{
    background-color: #000 !important;
}
.form-down{
    width:100px;
    margin:0 5px;
    background:url(assets/datasource/images/ion.png) right center #0b1024 ;
    border:1px solid #4a5d8e; 
    color:#fff;
}
.select2-container--bootstrap{
    width:120px;
    display: inline-block;
}
.select2-container--bootstrap .select2-selection--single{
    border:1px solid #4a5d8e;
    background: #0b1024;
    color:#fff;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__placeholder,.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: #fff;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b{
    border-color: #fff transparent transparent transparent;
}
.col-md-2{
    width:20%;
}
.tigao{
    background: url(../images/tigao.png) no-repeat;
    width: 8px;
    height: 10px;
    display: inline-block;
    margin-right:5px;
}
.xiajiang{
    background: url(../images/xiajiang.png) no-repeat;
    width: 8px;
    height: 10px;
    display: inline-block;
    margin-right:5px;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #fff;
    background-color: #0b1024;
    border-color: #4a5d8e;
    cursor: not-allowed;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #fff;
    background-color: #0b1024;
    border: 1px solid #4a5d8e;
    margin-left: -1px;
}
.pagination .active>a, .pagination .active>a:hover {
    background: #fff;
    opacity: 0.8;
    border-color: #4a5d8e;
    color: #254184;
}