/**********云服务管理中心-服务审核*********/
body {font-family: "Microsoft YaHei"; /*background-color:#31333f;*/}
h1,h2,h3,h4,h5{font-family: "Microsoft YaHei"}



/*导航*/
.qm-page-logo {line-height: 46px; color: #fff; font-size: 18px;}
.qm-page-logo:hover {text-decoration: none; color: #fff;}
.page-sidebar-closed .qm-page-logo {width: 0; font-size: 0;}
/**/

/********************************ouyang****************************************/

/*.page-header.qm-navbar{ background-color: #2a2c38;}
.page-header.qm-navbar .hor-menu .navbar-nav > li.active > a, .page-header.qm-navbar .hor-menu .navbar-nav > li.active > a, .page-header.qm-navbar .hor-menu .navbar-nav > li.current > a, .page-header.qm-navbar .hor-menu .navbar-nav > li.current > a {background: #fe7852 !important;}
.page-header.qm-navbar .hor-menu .navbar-nav > li.active .selected, .page-header.qm-navbar .hor-menu .navbar-nav > li.current .selected { border-top: 6px solid #fe7852;}
.page-header.qm-navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a, .page-header.qm-navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a:hover, .page-header.qm-navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a, .page-header.qm-navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a:hover {color: #7e453e;}
.page-header.qm-navbar .hor-menu.hor-menu-light .navbar-nav > li > a:hover {color: #6d6f86;}
.page-header.qm-navbar .hor-menu .navbar-nav > li > a {font-size: 16px;padding:13px 100px;}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover,.page-sidebar {background-color: #31333f !important;}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a,
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a,
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
    background: #31333f !important;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a,
.page-sidebar .page-sidebar-menu > li.active > a,
.page-sidebar .page-sidebar-menu > li.active.open > a {
    background: #484a57;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a,
.page-sidebar .page-sidebar-menu > li:hover > a,
.page-sidebar .page-sidebar-menu > li.open > a {
     background: #484a57 !important;
    color: #d9d9d9 !important;
}
.page-sidebar .page-sidebar-menu > li > ul.sub-menu >li.active > a{ color: #fd9067 !important;}
*//**/

.qm-h3search{width:200px !important;}/*面包屑搜索框宽度*/
.qm-margin-left-20{margin-left: 20px !important;}/*左间距*/

.tiles.qm-tiles .tile { height:90px;}/*未审核页面 内容高度*/
.tiles .tile .tile-body p{ line-height: 20px;}/*未审核页面 内容段落行高*/

.qm-timeline{}
.qm-timeline .timeline-body{padding:0;}/*时间轴内边距清零*/
.portlet.light > .portlet-title {padding: 0;height: 30px;}/*标题栏内边距清零，高度30*/
.portlet.light{padding:5px 20px;}/*复写内边距*/
.portlet{margin-bottom: 5px;}
.portlet > .portlet-title{margin-bottom: 0;}

.tiles.qm-titles .tile{height:130px;}/*服务管理页面  内容高度*/
/*.page-bar{margin-bottom: 5px;}*/
.checkbox-inline+.checkbox-inline{margin-left:0;margin-right:10px;}/*复选框调整右边距*/
.radio-inline, .checkbox-inline{padding-left:0;}/*复选框调整左边距*/
.checkbox-list > label.checkbox-inline:first-child{margin-right:10px;}/*复选框调整第一项右边距*/

.qm-span-5{width:41.66666667%; float: left;}
.qm-span-7{width:58.33333333%; float: left;}

.modal-footer{ text-align: center;}/*弹出层底部按钮居中*/
.portlet > .portlet-title > .nav-tabs.qm-margin-right-90 {margin-right: 90px;}

/*左侧二级菜单*/
.qm-menu{ background: #f7f7f7;}
.qm-inline-menu{padding:0; list-style: none;margin:0;}
.qm-inline-menu li{list-style: none;padding:0 2%;}
.qm-inline-menu li a{ display:block;line-height: 45px;margin:0 20px; color: #888; font-size: 14px;}
.qm-inline-menu li a:hover{ text-decoration: none;}
.qm-inline-menu li a i{font-size: 16px;margin-right: 10px;}
.qm-inline-menu > li > a{ border-bottom: 1px solid #eaeaea;}
.qm-inline-menu > li > ul a i{font-size: 12px;}
.qm-inline-menu > li.active > a{ color: #444;}
.qm-inline-menu > li.active > ul a.active{ color: #f68e67;}


.qm-manage-tiles .tile-body {}
.qm-manage-tiles.tiles .tile .tile-body h4{ line-height: 24px;}
.qm-manage-tiles .tile-body p{ line-height: 24px;}
.qm-manage-tiles .tile-body .qm-manage-btn{display: block; color: #fff;margin-top:6px;}

.qm-manage-tiles .tile-object .btn-icon-only{width:27px; height: 27px;}
.btn-icon-only.btn-default{padding:4px 6px 2px 6px;}

/*首页*/
.qm-index-login{margin-top:23px;margin-left: 34px;}
.qm-index-login a{display: inline-block;color: #fff; font-size: 16px;}
.qm-index-login a i{display: inline-block; font-size: 20px;}

.qm-index{max-width: 1010px; position: relative;margin:100px auto 0 auto;}
.qm-index-wid440{width:440px; position: relative;}
.qm-index-wid130{width:126px;padding-left:4px; position: relative;}
.qm-index > div{ cursor: pointer;}
.qm_index_left{ background: url("../img/index_left.png") no-repeat; text-align: left; width:440px;height: 366px;z-index:1;margin-top:1px; color: #868aa5;}
.qm_index_left:hover{background: url("../img/index_left_hover.png") no-repeat;}
.qm_index_right{ background: url("../img/index_right.png") no-repeat; text-align: right; width:440px; height: 366px;z-index:1;margin-top: 1px; color: #fff0bf;}
.qm_index_right:hover{ background: url("../img/index_right_hover.png") no-repeat;}
.qm_index_left em,.qm_index_right em{display: block; font-style: normal; font-size: 14px; text-transform: uppercase;}
.qm_index_left span,.qm_index_right span{display: block; font-size: 24px;}
.qm_index_left em{padding-top:266px;}
.qm_index_right em{padding-top:168px;}
.qm_index_left em,.qm_index_left span{padding-left:60px;}
.qm_index_right em,.qm_index_right span{padding-right: 60px;}

.qm_index_linkbg1{width:118px;height:123px; background: url("../img/index_link1.png") no-repeat;}
.qm_index_linkbg1:hover{background: url("../img/index_link1_hover.png") no-repeat;}
.qm_index_linkbg2{width:118px;height:123px; background: url("../img/index_link2.png") no-repeat;}
.qm_index_linkbg2:hover{background: url("../img/index_link2_hover.png") no-repeat;}
.qm_link1,.qm_link2,.qm_link3,.qm_link4,.qm_link5,.qm_link6{z-index:10;}
.qm_link1{position: absolute;top:1px;right:3px;}
.qm_link2{position: absolute;top:123px;right:3px;}
.qm_link6{ position: absolute;top:247px; left:3px;}
.qm_index_linkbg1 a,.qm_index_linkbg2 a{ display: block;width:118px; height: 118px; color: #fff; text-align: center; font-size: 16px;}
.qm_index_linkbg1 a:hover,.qm_index_linkbg2 a:hover{ text-decoration: none;}
.qm_index_linkbg1 a i,.qm_index_linkbg2 a i{display: block;padding-top:45px;padding-bottom: 10px; font-size: 25px;}

.qm-index-title{max-width: 1010px; margin:0 auto; color: #fff;}
.qm-index-title em{ font-style: normal; display: block; font-size: 16px; text-transform: uppercase;}
.qm-index-title span{display: block;font-size: 34px;}





































