@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
.page-content{
	margin-left:0 !important;
	padding:0  10px !important;

}
.font-size-12{
	font-size:12px
}
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
.col-sm-4{
	width:30%;
}
.col-sm-5{
	width:40%;
}
.shineGreen{
	border:1px solid #c1ffdc;
	box-shadow:0 0 30px 10px rgba(90,255,191,0.2);
	/* padding:0 0 20px 0; */
	padding:0
}
.score,.stu,.surplus,.school,.ring,.recruitment,.consumption,.operations{
	padding-left:15px;
	padding-right:15px;
	padding-bottom:15px
}
.score .title, .stu .title,.surplus .title,.school .title,.ring .title,.recruitment .title,.consumption .title,.operations .title,.attendance .title{
	padding:10px 0;
	text-align:center;
	margin:0 0 0 ;
	font-size:16px;
}
.table.table-light>thead>tr>th,.table.table-light>tbody>tr>td{padding:0 5px;}

.mSchool{
	background:url(../images/mSchool.png) no-repeat;
	width:49px;
	height:26px;
	text-align:center;
	color:#fff;
	font-size:14px;
	line-height: 28px;
}
.dialog_btn{
    width:20px;
	height:20px;
    float: right;
}
p.title a{background:url(../images/dialog_btn.png) no-repeat;}
p.title a:hover{background:url(../images/hover.png) no-repeat;}
.gray{
	background:#f0f0f0
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
	padding:2px;
}
.plr0{
	padding:0;
}
.stu,.school,.ring,.consumption,.operations{
	border-top:1px solid #e1e5e1;
}
.h2-tit-1{
	margin: 0 !important;
    padding: 22px 0;
    text-align: center;
    font-size: 36px;
    color: #00b64f;
}
.subtitle{
	padding:0;
	margin:0;
	color:#565656;
	font-size:16px;
	text-align:center;
}
.subtitle strong{
	color:#ff6840
}
.campus-map {
	position: relative;
	width: 524px;
	height: 629px;
	margin: 30px auto;
	background: url(../images/map-bg.png) no-repeat;
}
.campus-map .campus-distribution {
    position: relative;
}
.campus-map .campus-distribution a {
    position: absolute;
    color: #565656;
	font-size:16px;
}
.campus-map .dijing-primary {
    left: 171px;
    top: 475px;
}
.campus-map .dijing-primary a {
    left: -51px;
    top: 3px;
	font-size:12px;
	color:#939393
}
.campus-map .dijing-junior {
    left: 173px;
    top: 502px;
}
.campus-map .dijing-junior a {
    left: -51px;
    top: 3px;
	font-size:12px;
	color:#939393
}
.campus-map .dijing {
    left: 212px;
    top: 482px;
}

.campus-map .dijing a {
    left: -51px;
    top: 3px;
}
.house {
	display: inline-block;
	position: absolute;
    width: 44px;
    height: 37px;
	background:url(../images/house.png) no-repeat;
}
.dijing-house,.chongshi-house,.chongshi-primary-house,.this-high-house,.this-junior-house{
	left: 12px;
    top: -2px;
}
.campus-map .chongshi-junior {
  left: 260px;
  top: 480px;
}
.campus-map .chongshi-junior a {
  left: 57px;
  top: 7px;
}
.campus-map .chongshi-primary {
  left: 278px;
  top: 520px;
}
.campus-map .chongshi-primary a {
  left: 60px;
  top: 6px;
}
.campus-map .baoli {
  left: 284px;
  top: 398px;
}
.campus-map .baoli a {
  left: 45px;
  top: 9px;
}
.campus-map .this-high {
  left: 125px;
  top: 375px;
}
.campus-map .this-high a {
  left: 55px;
  top: 5px;
}
.campus-map .this-junior {
  left: 147px;
  top: 412px;
}
.campus-map .this-junior a {
  left: 55px;
  top: 5px;
}
.campus-map .jiaming-junior {
  left: 67px;
  top: 184px;
}
.campus-map .jiaming-junior a {
  left: 46px;
  top: 7px;
}
.campus-map .jiaming-jisu {
  left:110px;
  top: 213px;
}
.campus-map .jiaming-jisu a {
  left: 46px;
  top: 7px;
}
.campus-map .jiaming-east {
  z-index: 10;
  left: 65px;
  top: 147px;
}
.campus-map .jiaming-east a {
  left: 46px;
  top: 7px;
}
.campus-map .jiaming-primary {
  left: -67px;
  top: 249px;
}
.campus-map .jiaming-primary a {
  left: 58px;
  top: 3px;
}
.jiaming-primary-house{
	left:171px
}
.campus-map .jiaming-oulu {
  left:235px;
  top: 167px;
}
.campus-map .jiaming-oulu a {
  left: 46px;
  top: 7px;
}
.campus-map .jiaming-Primary{
  left: 107px;
  top: 168px;
}
.campus-map .jiaming-Primary a {
  left: 58px;
  top: 3px;
  font-size:12px;
  color:#939393
}
.campus-map .jiaming-Junior {
  left: 120px;
  top: 135px;
}
.campus-map .jiaming-Junior a {
  left: 46px;
  top: 7px;
  font-size:12px;
  color:#939393
}
.campus-map .campus-distribution a:hover{
	color:#ff6840;
	text-decoration:none
}
.BarSubtitle{
	font-size:12px;
	color:#565656;
	padding:0;
	margin:0;
	text-align:center
}
.BarTitle{
	color:#565656;
	font-size:14px;
	line-height:20px;
	text-align:center;
	padding:0;
	margin:0;
}
.BarSubtitle strong{
	color:#ff6840

}
.table.table-light>thead>tr>th,.table.table-light>tbody>tr>td{
	line-height:36px;
}
.margin-top-30{
	margin-top:30px;
}
.attendance{
	padding-left: 15px;
    padding-right: 15px;
}
.attendanceCon{
	list-style:none;
	margin:0;
	padding:0
}
.attendanceCon li div{
	border:1px solid #e9e9e9;
	margin-bottom:10px;
}
.attendanceCon li div h4,.attendanceCon li div p {
	font-size:12px;
	color:#565656;
	margin:0;
	padding:0 20px 8px 20px;
}
.attendanceCon li div h4{
	padding:6px 20px;
	line-height: 20px;
}
.attendanceCon li div h4 strong{
	color:#ff6840;
	padding:0 0 0 8px;
}
.plr5 {
    padding-left: 10px !important;
    padding-right: 0 !important;
}
.nav-pills, .nav-tabs{
	width:30%;
	margin:0 auto;
	text-align:center;
}
.nav>li>a{
	color:#939393;
	font-size:14px;
	font-weight:bold;
	padding:5px 10px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #ff6840;
    background-color:#fff;
}
.grade,.Jgrade{
	list-style:none;
	margin:0 auto;
	padding:0;
	width:70%;
}
.grade li,.Jgrade li{
	color:#939393;
	font-size:12px;
	float:left;
	text-align:center;
}
.grade li{
	width:20%;
}
.Jgrade li{
	width:33.33%;
}
.grade li i,.Jgrade li i{
	display:inline-block;
	width:9px;
	height:9px;
	margin-right:5px;
}
.purple{background:#adb0f8;}
.green{background:#74d3dc}
.yellow{background:#f3cc56}
.blue{background:#5787f4}
.red{background:#f4575c}

.col-md-2{
	width:20%;
}
.gongzuochengguo .tab{ overflow:hidden;width:100%;margin:0 auto;text-align:center;}
.gongzuochengguo .tab a{ display:block;float:left; text-decoration:none;color:#939393;font-size:14px;padding:2px 10px;}
.gongzuochengguo .tab a:hover{color:#ff6840; text-decoration:none;}
.gongzuochengguo .tab a.active{color:#ff6840; text-decoration:none;}
.gongzuochengguo .content{ overflow:hidden; width:532px;height:170px; position:relative;}
.gongzuochengguo .content ul{ position:absolute; left:0; top:0;list-style:none}
.gongzuochengguo .content li{width:532px;height:200px; float:left;}
/* .gongzuochengguo .content li div{margin-left:-26px} */

.tigao{
    background: url(../images/tigao.png) no-repeat;
    width: 8px;
    height: 10px;
    display: inline-block;
    margin-right:5px;
}
.xiajiang{
    background: url(../images/xiajiang.png) no-repeat;
    width: 8px;
    height: 10px;
    display: inline-block;
    margin-right:5px;
}

.Jwidth{width:530px;height:210px;}
.Hwidth{width:530px; height:210px;}
.Gwidth{width:560px; height:210px;}
.Cwidth{width:100%;height:380px;}

.JUwidth{width:100%;height:209px;}
.preHeight{height:229px;}
.JUDwidth{width:100%;height:230px;}


.ziChanWidth{width:100%; height: 355px;}




@media screen and (max-width: 1440px) {
	.nav-pills, .nav-tabs{
		width:40%;
	}
	.Jwidth{
		width:420px;
	}
	.Hwidth{
		width:420px;
	}
	.Gwidth{
		width:410px;
	}
	.changeBox_imgs{
		width:400px;
	}
}
/*弹出层*/
#dialogBg{width:100%;height:100%;background-color:#000000;opacity:.6;filter:alpha(opacity=60);position:fixed;top:0;left:0;z-index:9999;display:none;}
#dialog{width:1100px;height:700px;margin:0 auto;display:none;background-color:#ffffff;position:fixed;top:50%;left:50%;margin:-350px 0 0 -555px;z-index:10000;}
.dialogTop{width:100%;margin:0 auto;letter-spacing:1px;padding:12px 15px;font-size:26px;color:#00b64f;  float:left;text-align:center;}
.dialogIco{width:50px;height:50px;position:absolute;top:-25px;left:50%;margin-left:-25px;}
.editInfos{padding:15px 0;list-style: none;}
.editInfos li{width:90%;margin:8px auto auto;/*text-align: center;*/}
.ipt{border:1px solid #ccc;padding:5px;border-radius:3px;-webkit-border-radius:3px;box-shadow:0 0 3px #ccc inset;-webkit-box-shadow:0 0 3px #ccc inset;margin-left:5px;}
.ipt:focus{outline:none;border-color:#66afe9;box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);}
.submitBtn{float:right;width:90px;height:30px;line-height:30px;font-family:"微软雅黑","microsoft yahei";cursor:pointer;margin-top:10px;display:inline-block;border-radius:2px;-webkit-border-radius:2px;text-align:center;background-color:#ff6840;color:#fff;border: 0 none;-webkit-appearance: none;margin-right: 77px;}
.submitBtn:hover{text-decoration:none;color:#fff}
.submitBtn:active{background:#ff3500}
.close_btn {
    font-family: arial;
    font-size: 26px;
    _font-size: 26px;
    font-weight: 100;
    color: #3b3b3b;
    text-decoration: none;
    float: right;
}
.close_btn:hover{text-decoration: none;}
/*滚动条*/
#scrollbar{
	width:400px;
	height:546px;
	border: 1px #fff solid;
	display:inline-block;
	overflow: auto;
	padding:10px 20px 10px 40px;
	-webkit-overflow-scrolling : touch;
}
	/*凹槽宽度*/
#scrollbar::-webkit-scrollbar{
	width:8px;
	height:8px;
}
	/*拖动条*/
#scrollbar::-webkit-scrollbar-thumb{
	background-color:#ccc;
	border-radius:6px;
}
	/*背景槽*/
#scrollbar::-webkit-scrollbar-track{
	background-color:#ddd;
	border-radius:6px;
}
/*单选*/
input { padding: 0; margin: 0; border: 0; }

.radioSet:before { content: ""; display: table; }

.radioSet:after { content: ""; display: table; clear: both; }

.radioSet > div { position: relative; float: left;width:100%; height: 36px; line-height: 36px; }

.radioSet > div:last-child { margin-right: 0; }

.radioSet label { display: block; left: 20px; height: 36px; line-height: 36px; cursor: pointer;position: relative;color:#565656;font-size:16px;` }

.radioSet input { z-index: 3; display: block; opacity: 0; position: absolute; top: 0; bottom: 0; left: 0px; margin: auto; width: 14px; height: 14px; cursor: pointer; }

.radioSet .user-defined { z-index: 2; position: absolute; top: 0; bottom: 0; left: 0; margin: auto; width: 14px; height: 14px; border: 1px solid #767676; border-radius: 50% !important; cursor: pointer; }

.radioSet .user-defined span.circle  { display: block; width: 8px; height: 8px; margin-top: 2px; margin-left: 2px; background-color: transparent; border-radius: 50% !important; }

.radioSet .user-defined span.active  { background-color: #ff6840; }

.radioSet .user-defined.active  { border: 1px solid #ff6840 !important; }


/***/
.pd77{padding:10px 77px;}
.POPwidth{width:532px;height:520px}
.bananaCon,.orangeCon,.watermelonCon,.cantaloupCon,.papayaCon,.cherryCon,.plumCon,.peachCon,.mulberriesCon,.strawberryCon,.ximeiCon,.ginkgoCon,.apricotCon,.grapeCon{display:none}


.updateTable{
	height:190px !important
}
.updateTable table thead tr th,.updateTable table tbody tr td{
	font-size:10px !important;
	line-height:16px !important
}

/**WANGYAN**/
@media screen and (max-width: 1375px){
	.col-sm-5 {
    width: 40%;
    overflow-y: auto;
}
}
