@charset "UTF-8";
/*内容框架 Begin*/
ul,
li {
  list-style-type: none;
}
/*less Begin*/
/*溢出省略号显示*/
.plr0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt40 {
  margin-top: 40px;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
/*less End*/
/*css Begin*/
.page-content-wrapper .page-content {
  margin-left: 0 !important;
  background: none !important;
  padding:26px 10px !important;
}

.border {
  position:relative;
  border:15px solid transparent;
  -moz-border-image:url(../images/border.png) 30 30 stretch;	/* Old Firefox */
  -webkit-border-image:url(../images/border.png) 30 30 stretch;	/* Safari and Chrome */
  -o-border-image:url(../images/border.png) 30 30 stretch;		/* Opera */
  border-image:url(../images/border.png) 30 30 stretch;
}
.sub-title{
	position:absolute;
	top:-36px;
	left:20px;
	display: inline-block;
	font-size:16px;
	color:#fff;
	background:rgba(51,101,158,.5);
	padding:10px 20px;
	margin:0;
}
.moudel-1 {
  padding: 0 20px;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background:none;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	border-bottom:2px solid #4d9def;
	background:none;
}
.moudel-1-map {
  position: relative;
  height: 526px;
}
.moudel-1-tit {
  padding-top: 10px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  line-height:20px;
}
.h2-tit-1 {
  margin: 0 !important;
  padding: 22px 0;
  text-align: center;
  font-size: 28px;
  color: #fff;
  background: url("../images/line2-bg.png") no-repeat center center;
}
/*css End*/
/*内容框架 End*/
/*初高中升学率 Begin*/
.moudel-1-rank{
	color:#fff;
	text-align:left;
}
.moudel-list ul {
    float: left;
    width: 100%;
	padding:0;
}
.moudel-list ul li {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
	position: relative;
	margin-bottom:8px;
}
.moudel-list ul li i {
    display: inline-block;
    font-style: normal;
    margin-right: 6px;
    font-size: 12px;
	border-radius:2px;
	width: 18px;
    height: 18px;
    line-height: 18px;
	background:#33659e;
	text-align: center;
}
 .moudel-list i.square {
    background: #3293e9;
}
.average{
	font-weight:normal;
	line-height: 20px;
	height:14px;
	margin-left:5px;
	vertical-align: top;
}
.moudel-list  span {
	font-size:13px;
	height:18px;
	line-height:18px;
}
.moudel-list  span em{
	display: inline-block;
    font-style: normal;
	background:url(../images/arrow.png) no-repeat;
	width:10px;
	height:11px;
	margin-right:2px;
}
.moudel-list  span em.icon-up{
	background-position:0 -1px;
}
.moudel-list  span em.icon-down{
	background-position:0 -19px;
}
.greenCor{
	color:#0ce53a;
}
.redCor{
	color:#dc4848;
}

/* .moudel-1-rank {
  padding: 0 6px 0 0;
}
.rank-list {
  height: 222px;
  padding: 6px 20px 0;
  overflow: hidden;
  color: #ffffff;
}
.rank-list ul {
  padding: 0;
}
.rank-list ul li {
  line-height: 28px;
}
.rank-list ul li i {
  display: inline-block;
  font-style: normal;
  margin-right: 6px;
  font-size: 12px;
}
.rank-list ul li i.square {
  width: 14px;
  height: 14px;
  line-height: 14px;
  background: #e1bd29;
  text-align: center;
}
.rank-list ul li span {
  float: right;
}
.rank-list ul li span em {
  font-style: normal;
  padding-left: 12px;
}
.rank-list ul li a {
  width: 50%;
  color: #ffffff;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rank-list ul li a:hover {
  color: #fff;
  text-decoration: none;
}
.nicescroll-rails {
  background: #072951;
} */
/*初高中升学率 End*/
/*陈经纶集团学校地图 Begin*/
.campus-map {
  /* width: 428px;
  height: 448px;
  margin: 0 auto;
  background: url("../images/campus-map01.png") no-repeat; */
}
/*圆环 Beign*/
.circle {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
}
.circle1,
.circle2,
.circle3 {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -30px 0 0 -30px;
  width: 60px;
  height: 60px;
  border-radius: 50% !important;
  border: 1px solid #C0C0C0;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -5px 0 0 -5px;
  width: 12px;
  height: 12px;
  border-radius: 50% !important;
  background: #DCDCDC;
  line-height: 70px;
}
.circle1,
.circle2,
.circle3 {
  -webkit-animation: circle 1.5s linear infinite;
  -moz-animation: circle 1.5s linear infinite;
  -ms-animaiton: circle 1.5s linear infinite;
  -o-animation: circle 1.5s linear infinite;
  animation: circle 1.5s linear infinite;
}
.circle2 {
  -webkit-animation: circle 1.5s linear 0.8s infinite;
  -moz-animation: circle 1.5s linear 0.8s infinite;
  -ms-animation: circle 1.5s linear 0.8s infinite;
  -o-animation: circle 1.5s linear 0.8s infinite;
  animation: circle 1.5s linear 0.8s infinite;
}
.circle3 {
  -webkit-animation: circle 1.5s linear 1.6s infinite;
  -moz-animation: circle 1.5s linear 1.6s infinite;
  -ms-animation: circle 1.5s linear 1.6s infinite;
  -o-animation: circle 1.5s linear 1.6s infinite;
  animation: circle 1.5s linear 1.6s infinite;
}
.jingdi-circle .circle1 {
  -webkit-animation: circle 2s linear infinite;
  -moz-animation: circle 2s linear infinite;
  -ms-animaiton: circle 2s linear infinite;
  -o-animation: circle 2s linear infinite;
  animation: circle 2s linear infinite;
}
.jingdi-circle .circle2 {
  -webkit-animation: circle 2s linear 0.8s infinite;
  -moz-animation: circle 2s linear 0.8s infinite;
  -ms-animation: circle 2s linear 0.8s infinite;
  -o-animation: circle 2s linear 0.8s infinite;
  animation: circle 2s linear 0.8s infinite;
}
.jingdi-circle .circle3 {
  -webkit-animation: circle 2s linear 1.6s infinite;
  -moz-animation: circle 2s linear 1.6s infinite;
  -ms-animation: circle 2s linear 1.6s infinite;
  -o-animation: circle 2s linear 1.6s infinite;
  animation: circle 2s linear 1.6s infinite;
}
.chongshi-junior .circle1 {
  -webkit-animation: circle 2.5s linear 2s infinite;
  -moz-animation: circle  2.5s linear 2s infinite;
  -ms-animaiton: circle  2.5s linear 2s infinite;
  -o-animation: circle  2.5s linear 2s infinite;
  animation: circle  2.5s linear 2s infinite;
}
.chongshi-junior .circle2 {
  -webkit-animation: circle 2.5s linear 2.8s infinite;
  -moz-animation: circle 2.5s linear 2.8s infinite;
  -ms-animation: circle 2.5s linear 2.8s infinite;
  -o-animation: circle 2.5s linear 2.8s infinite;
  animation: circle 2.5s linear 2.8s infinite;
}
.chongshi-junior .circle3 {
  -webkit-animation: circle 2.5s linear 3.6s infinite;
  -moz-animation: circle 2.5s linear 3.6s infinite;
  -ms-animation: circle 2.5s linear 3.6s infinite;
  -o-animation: circle 2.5s linear 3.6s infinite;
  animation: circle 2.5s linear 3.6s infinite;
}
.chongshi-primary-circle .circle1 {
  -webkit-animation: circle 3s linear 2s infinite;
  -moz-animation: circle 3s linear 2s infinite;
  -ms-animaiton: circle 3s linear 2s infinite;
  -o-animation: circle 3s linear 2s infinite;
  animation: circle 3s linear 2s infinite;
}
.chongshi-primary-circle .circle2 {
  -webkit-animation: circle 3s linear 2.8s infinite;
  -moz-animation: circle 3s linear 2.8s infinite;
  -ms-animation: circle 3s linear 2.8s infinite;
  -o-animation: circle 3s linear 2.8s infinite;
  animation: circle 3s linear 2.8s infinite;
}
.chongshi-primary-circle .circle3 {
  -webkit-animation: circle 3s linear 3.6s infinite;
  -moz-animation: circle 3s linear 3.6s infinite;
  -ms-animation: circle 3s linear 3.6s infinite;
  -o-animation: circle 3s linear 3.6s infinite;
  animation: circle 3s linear 3.6s infinite;
}
.baoli-circle .circle1 {
  -webkit-animation: circle 3.5s linear 3s infinite;
  -moz-animation: circle 3.5s linear 2s infinite;
  -ms-animaiton: circle 3.5s linear 2s infinite;
  -o-animation: circle 3.5s linear 2s infinite;
  animation: circle 3.5s linear 2s infinite;
}
.baoli-circle .circle2 {
  -webkit-animation: circle 3.5s linear 3.8s infinite;
  -moz-animation: circle 3.5s linear 3.8s infinite;
  -ms-animation: circle 3.5s linear 3.8s infinite;
  -o-animation: circle 3.5s linear 3.8s infinite;
  animation: circle 3.5s linear 3.8s infinite;
}
.baoli-circle .circle3 {
  -webkit-animation: circle 3.5s linear 4.6s infinite;
  -moz-animation: circle 3.5s linear 4.6s infinite;
  -ms-animation: circle 3.5s linear 4.6s infinite;
  -o-animation: circle 3.5s linear 4.6s infinite;
  animation: circle 3.5s linear 4.6s infinite;
}
.this-high-circle .circle1 {
  -webkit-animation: circle 3s linear 2s infinite;
  -moz-animation: circle 3s linear 2s infinite;
  -ms-animaiton: circle 3s linear 2s infinite;
  -o-animation: circle 3s linear 2s infinite;
  animation: circle 3s linear 2s infinite;
}
.this-high-circle .circle2 {
  -webkit-animation: circle 3s linear 2.8s infinite;
  -moz-animation: circle 3s linear 2.8s infinite;
  -ms-animation: circle 3s linear 2.8s infinite;
  -o-animation: circle 3s linear 2.8s infinite;
  animation: circle 3s linear 2.8s infinite;
}
.this-high-circle .circle3 {
  -webkit-animation: circle 3s linear 3.6s infinite;
  -moz-animation: circle 3s linear 3.6s infinite;
  -ms-animation: circle 3s linear 3.6s infinite;
  -o-animation: circle 3s linear 3.6s infinite;
  animation: circle 3s linear 3.6s infinite;
}
.this-junior .circle1 {
  -webkit-animation: circle 2s linear infinite;
  -moz-animation: circle 2s linear infinite;
  -ms-animaiton: circle 2s linear infinite;
  -o-animation: circle 2s linear infinite;
  animation: circle 2s linear infinite;
}
.this-junior .circle2 {
  -webkit-animation: circle 2s linear 0.8s infinite;
  -moz-animation: circle 2s linear 0.8s infinite;
  -ms-animation: circle 2s linear 0.8s infinite;
  -o-animation: circle 2s linear 0.8s infinite;
  animation: circle 2s linear 0.8s infinite;
}
.this-junior .circle3 {
  -webkit-animation: circle 2s linear 1.6s infinite;
  -moz-animation: circle 2s linear 1.6s infinite;
  -ms-animation: circle 2s linear 1.6s infinite;
  -o-animation: circle 2s linear 1.6s infinite;
  animation: circle 2s linear 1.6s infinite;
}
.jiaming-junior-circle .circle1 {
  -webkit-animation: circle 3.5s linear 3s infinite;
  -moz-animation: circle 3.5s linear 2s infinite;
  -ms-animaiton: circle 3.5s linear 2s infinite;
  -o-animation: circle 3.5s linear 2s infinite;
  animation: circle 3.5s linear 2s infinite;
}
.jiaming-junior-circle .circle2 {
  -webkit-animation: circle 3.5s linear 3.8s infinite;
  -moz-animation: circle 3.5s linear 3.8s infinite;
  -ms-animation: circle 3.5s linear 3.8s infinite;
  -o-animation: circle 3.5s linear 3.8s infinite;
  animation: circle 3.5s linear 3.8s infinite;
}
.jiaming-junior-circle .circle3 {
  -webkit-animation: circle 3.5s linear 4.6s infinite;
  -moz-animation: circle 3.5s linear 4.6s infinite;
  -ms-animation: circle 3.5s linear 4.6s infinite;
  -o-animation: circle 3.5s linear 4.6s infinite;
  animation: circle 3.5s linear 4.6s infinite;
}
.jiaming-jisu-circle .circle1 {
  -webkit-animation: circle 3.5s linear 3s infinite;
  -moz-animation: circle 3.5s linear 2s infinite;
  -ms-animaiton: circle 3.5s linear 2s infinite;
  -o-animation: circle 3.5s linear 2s infinite;
  animation: circle 3.5s linear 2s infinite;
}
.jiaming-jisu-circle .circle2 {
  -webkit-animation: circle 3.5s linear 3.8s infinite;
  -moz-animation: circle 3.5s linear 3.8s infinite;
  -ms-animation: circle 3.5s linear 3.8s infinite;
  -o-animation: circle 3.5s linear 3.8s infinite;
  animation: circle 3.5s linear 3.8s infinite;
}
.jiaming-jisu-circle .circle3 {
  -webkit-animation: circle 3.5s linear 4.6s infinite;
  -moz-animation: circle 3.5s linear 4.6s infinite;
  -ms-animation: circle 3.5s linear 4.6s infinite;
  -o-animation: circle 3.5s linear 4.6s infinite;
  animation: circle 3.5s linear 4.6s infinite;
}
.jiaming-east-circle .circle1 {
  -webkit-animation: circle 2s linear infinite;
  -moz-animation: circle 2s linear infinite;
  -ms-animaiton: circle 2s linear infinite;
  -o-animation: circle 2s linear infinite;
  animation: circle 2s linear infinite;
}
.jiaming-east-circle .circle2 {
  -webkit-animation: circle 2s linear 0.8s infinite;
  -moz-animation: circle 2s linear 0.8s infinite;
  -ms-animation: circle 2s linear 0.8s infinite;
  -o-animation: circle 2s linear 0.8s infinite;
  animation: circle 2s linear 0.8s infinite;
}
.jiaming-east-circle .circle3 {
  -webkit-animation: circle 2s linear 1.6s infinite;
  -moz-animation: circle 2s linear 1.6s infinite;
  -ms-animation: circle 2s linear 1.6s infinite;
  -o-animation: circle 2s linear 1.6s infinite;
  animation: circle 2s linear 1.6s infinite;
}
@-webkit-keyframes circle {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }
}
@-moz-keyframes circle {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }
}
@-ms-keyframes circle {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }
}
@-o-keyframes circle {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }
}
.campus-map {
  position: relative;
}
.campus-map .campus-distribution {
  position: relative;
}
.campus-map .campus-distribution span {
  position: absolute;
  color: #fff;
}
.campus-map .jingdi {
  left: 28px;
  top: 508px;
}
.campus-map .jingdi span {
  left: 175px;
  top: -60px;
}
.campus-map .chongshi-junior {
  left: 56px;
  top: 530px;
}
.campus-map .chongshi-junior span {
  left: 144px;
  top: -60px;
}
.campus-map .chongshi-primary {
  left: 75px;
  top: 541px;
}
.campus-map .chongshi-primary span {
  left: 300px;
  top: -60px;
}
.campus-map .baoli {
  left: 124px;
  top: 447px;
}
.campus-map .baoli span {
  left: 300px;
  top: -60px;
}
.campus-map .this-high {
  left: -8px;
  top: 454px;
}
.campus-map .this-high span {
  left: 215px;
  top: -62px;
}
.campus-map .this-junior {
  left: -3px;
  top: 466px;
}
.campus-map .this-junior span {
  left: 300px;
  top: -60px;
}
.campus-map .jiaming{
	left: -54px;
    top: 326px;
}

.campus-map .jiaming span {
	/*left: 58px;*/
	left: 284px;
    top: -40px;
}
.campus-map .jiaming-junior {
  left: -76px;
  top: 311px;
}
.campus-map .jiaming-junior span {
  left:163px;
  top: -60px;
}
.campus-map .jiaming-jisu {
  left: -39px;
  top: 322px;
}
.campus-map .jiaming-jisu span {
  left: 293px;
  top: -60px;
}
.campus-map .jiaming-east {
  /* z-index: 10; */
  left: -80px;
  top: 275px;
}
.campus-map .jiaming-east span {
  left: 200px;
  top: -60px;
}
.campus-map .jiaming-primary {
  left: -71px;
  top: 330px;
}
.campus-map .jiaming-primary span {
  left: 158px;
  top: -60px;
}
.link-circle {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50% !important;
  background: none;
  z-index: 99;
}
.chongshi-junior-link-circle {
  left: 329px;
  top: 333px;
}
.chongshi-primary-link-circle {
  left: 325px;
  top: 353px;
}
.baoli-link-circle {
  left: 329px;
  top: 267px;
}
.this-high-link-circle {
  left: 174px;
  top: 229px;
}
.this-junior-link-circle {
  left: 187px;
  top: 237px;
}
.jiaming-junior-link-circle {
  left: 51px;
  top: 115px;
}
.jiaming-jisu-link-circle {
  left: 77px;
  top: 135px;
}
.jiaming-east-link-circle {
  left: 101px;
  top: 95px;
  z-index: 9999;
}
.jiaming-primary-link-circle {
  left: 72px;
  top: 119px;
}
.jingdi-link-circle {
  /*  position: @position-a;*/
  top: 316px;
  left: 193px;
  z-index: 9999;
}
.branch-wraper,
.jingdi-branch-wraper,
.jiaming-east-branch-wraper {
  display: none;
  width: 228px;
  height: 88px;
  background: url(../images/branch-bg.png) no-repeat;
  z-index: 999;
}
.branch-wraper dl {
  position: absolute;
  width: 143px;
  height: 78px;
  margin-bottom: 0 !important;
  padding: 8px 0 0 12px;
  left: 78px;
  top: 5px;
}
.branch-wraper dl dt {
  text-align: left;
  padding-bottom: 6px;
  color: #ffffff;
}
.branch-wraper dl dd {
  float: left;
  margin-right: 18px;
}
.branch-wraper dl dd a {
  color: #ffffff;
}
.branch-wraper dl dd a:hover {
  color: #ffffff;
  text-decoration: none !important;
}
.branch-wraper dl dd:first-child {
  margin-right: 20px;
}
.jingdi-branch-wraper {
  position: absolute;
  top: 310px;
  left: 199px;
}
.jiaming-east-branch-wraper {
  position: absolute;
  top: 82px;
  left: 106px;
}
.campus-info {
  position: absolute;
  right: 12px;
  top: 84px;
  text-align: left;
}
.campus-info .campus-info-moudel {
  padding: 5px 15px;
  width: 105px;
  margin-top: 2px;
  background: #022c59;
}
.campus-info .campus-info-moudel .campus-info-moudel-tit {
  color: #ffffff;
  font-size: 12px;
}
.campus-info .campus-info-moudel span {
  display: block;
  color: #3ff66e;
}
.campus-info .campus-info-moudel span.green {
  font-size: 14px;
}
.campus-info .campus-info-moudel span.red {
  color: #ff4b4b;
}
.campus-info .campus-info-moudel span.red-arrow {
  background: url("../images/red-arrow.png") no-repeat 24px 6px;
}
.campus-info .campus-info-moudel:first-child {
  margin-top: 0;
}
/*圆环 End*/
/*陈经纶集团学校地图 End*/
/*名师特色 Begin*/
.progress-wrapper {
  height: 24px;
  line-height: 24px;
  display: block;
  margin-bottom: 8px;
}
.progress-wrapper .progress-bar-tit {
  width: 100px;
  padding-right: 12px;
  float: left;
  display: inline-block;
  font-size: 12px;
  color: #ffffff;
}
.progress-wrapper .progress-bar-tit span {
  display: block;
}
.progress-wrapper .skillbar {
  float: left;
  position: relative;
  display: inline-block;
  margin-top: 8px;
  width: 200px;
  height: 8px;
  border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}
.progress-wrapper .skillbar .skillbar-bar {
  height: 8px;
  width: 0px;
  background: #6adcfa;
  border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
}
.progress-wrapper .skill-bar-percent {
  float: left;
  display: inline-block;
  font-size: 12px;
  color: #ffffff;
}
/*名师特色 End*/
/*mark 遮罩 Begin*/
/*.mask{
  position: @position-a;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  width: @wbfb;
  height: @hbfb;
  /!*background:url("../images/body-tm-bg.png") repeat;*!/
}*/
/*mark 遮罩 End*/
.list-box{
	margin:0;
	padding:0;
}
.list-box li{
	float:left;
	width:25%;
	border-right:1px solid #3e5287;
	padding: 0 14px;
}
.list-box li:last-child{
	border-right:none;
}
.list-title{
	color:#fff;
	font-size:16px;
	text-align:center;
}
.list-last{
	font-size:14px;
	color:#fff;
}
.list-last b {
	font-weight:normal;
}
.list-last span,.list-this span {
	color:#1ebce1;
}
.list-last .font18{
	font-size:18px;
}
.list-this{
	font-size:14px;
	color:#0ce53a;
}
.list-up{
	color:#0ce53a;
}
.list-red{
	color:#eb2e33;
}
.list-up span{
	font-size:22px;
}
.list-up em{
	display: inline-block;
    font-style: normal;
    background: url(../images/icon-arrow.png) no-repeat;
    width: 16px;
    height: 18px;
    margin:0  2px;
}
.list-up em.list-icon-up {
    background-position: 0 1px;
}
.list-up em.list-icon-down {
    background-position: 0 -21px;
}