.page-content-wrapper,.page-container{
	background: #0b1024;
}
.page-content-wrapper .page-content {
    background:#0b1024 !important;
    /*margin-left: 0px !important;
    padding: 20px 0 0 0;*/
}
.bar-p,.bar-g{
    position: absolute;
    z-index: 9999;
    width:20px ;/*柱图的宽度*/
}
.bar-p{
	background: url("../images/blue.png") no-repeat 50% 100%;
	background-size: 100% 100%;
}
.bar-g{
	background: url("../images/yellow.png") no-repeat 50% 100%;
	background-size: 100% 100%;
}
.sub{
	color:#fff;
	text-align:center;
}
.subTtitle{
	color:#fff;
	text-align:center;
	font-size:18px;
}
.subTtitle strong{
	color: #f04a4e;
    font-size: 30px;
    font-weight: normal;
}
.rili {
    background: url(../images/rili.png) no-repeat;
    width: 27px;
    height: 27px;
    display: inline-block;
}
.nav .open>a,.nav .open>a:focus,.nav .open>a:hover{
	background:none;
	border:none;
}
.navbar-nav>li>a{
	padding-top: 0;
    padding-bottom: 0;
}
.rili-blue{
    background: #1f3c62;
    border: 1px solid #1f3c62;
    border-radius:1px !important;
    padding:0 10px;
    min-width:100px !important;
}
.nav.pull-right>li>.dropdown-menu:after, .nav>li>.dropdown-menu.pull-right:after{
	position: absolute;
    top: -8px;
    left: 9px;
    right: auto;
    display: inline-block!important;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #0b1024;
    border-left: 8px solid transparent;
    content: '';
}
.nav.pull-right>li>.dropdown-menu:before, .nav>li>.dropdown-menu.pull-right:before{
	position: absolute;
    top: -8px;
    left: 9px;
    right: auto;
    display: inline-block!important;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #0b1024;
    border-left: 8px solid transparent;
    content: '';
}
.rili-iconUp{
    background: url(../images/rili-icon-up.png) no-repeat;
    width: 14px;
    height: 7px;
    display: inline-block;
    position: absolute;
    top: -7px;
    right: 19px;
    z-index: 999;
}
.rili-blue li {
	border-bottom:1px solid rgba(255,255,255,0.1);
}
.rili-blue li:last-child{
	border-bottom:none;
}
.nav.pull-right>li>.dropdown-menu:after, .nav>li>.dropdown-menu.pull-right:after {
    right: 13px;
    left: auto;
}