<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>陈经纶系统---工资分析</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <link href="../../assets/admin/pages/css/timeline.css" rel="stylesheet" type="text/css">
    <link href="../../assets/admin/pages/css/style.min.css" rel="stylesheet" type="text/css">
<!--    <link href="../../assets/admin/pages/css/timeline-old.css" rel="stylesheet" type="text/css">-->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="../../assets/global/plugins/jstree/dist/themes/default/style.min.css"/>
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="../../assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
    <link id="style_color" href="../../assets/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
	<!--slefCss _Begin-->
    <link rel="stylesheet" href="../../assets/datasource/css/selfNav.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../../assets/selfsource/css/selfCon.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="../../assets/selfsource/css/css3.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="../../assets/selfsource/css/index.css" rel="stylesheet" type="text/css"/>
    <!--slefCss _End-->
    <link rel="stylesheet" href="../../assets/datasource/css/data-consumabels.css" rel="stylesheet" type="text/css"/>
	<!--动画引入-->
    <link rel="stylesheet" type="text/css" href="../../assets/datasource/css/animate.min.css"/>
    <script type="text/javascript" src="../../assets/datasource/js/monitor-pub-min.js"></script>
    <script type="text/javascript" src="../../assets/datasource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../assets/datasource/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/datasource/js/jquery.fullPage.min.js"></script>
    <!--动画结束-->
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- BEGIN BODY -->
<body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo">
<!-- BEGIN HEADER -->
<div class="page-header navbar qm-navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a class="qm-page-logo" href="#">
                云服务管理中心
            </a>
            <div class="menu-toggler sidebar-toggler">
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN HORIZANTAL MENU -->
        <!-- DOC: Remove "hor-menu-light" class to have a horizontal menu with theme background instead of white background -->
        <!-- DOC: This is desktop version of the horizontal menu. The mobile version is defined(duplicated) in the responsive menu below along with sidebar menu. So the horizontal menu has 2 seperate versions -->
        <div class="hor-menu hor-menu-light hidden-sm hidden-xs">
            <ul class="nav navbar-nav">
                <!-- DOC: Remove data-hover="megadropdown" and data-close-others="true" attributes below to disable the horizontal opening on mouse hover -->
                <li class="classic-menu-dropdown active">
                    <a href="javascript:;">
                        服务管理 <span class="selected">
					</span>
                    </a>
                </li>
                <li class="mega-menu-dropdown">
                    <a href="javascript:;">
                        数据管理
                    </a>
                </li>
            </ul>
        </div>
        <!-- END HORIZANTAL MENU -->
        <!-- BEGIN HEADER SEARCH BOX -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        </a>

        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown dropdown-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="" class="img-circle" src="../../assets/admin/layout/img/avatar3_small.jpg"/>
					<span class="username username-hide-on-mobile">
					用户名 </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="extra_profile.html">
                                <i class="icon-user"></i> My Profile </a>
                        </li>
                        <li>
                            <a href="page_calendar.html">
                                <i class="icon-calendar"></i> My Calendar </a>
                        </li>
                        <li>
                            <a href="inbox.html">
                                <i class="icon-envelope-open"></i> My Inbox <span class="badge badge-danger">
							3 </span>
                            </a>
                        </li>
                        <li>
                            <a href="page_todo.html">
                                <i class="icon-rocket"></i> My Tasks <span class="badge badge-success">
							7 </span>
                            </a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="extra_lock.html">
                                <i class="icon-lock"></i> Lock Screen </a>
                        </li>
                        <li>
                            <a href="login.html">
                                <i class="icon-key"></i> Log Out </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown dropdown-user dropdown-extended dropdown-notification" id="header_notification_bar">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="glyphicon glyphicon-question-sign"></i>
                        <span class="username username-hide-on-mobile">
					帮助 </span>
					<span class="badge badge-default">
					7 </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">

<div class="page-sidebar-wrapper">
<div class="page-sidebar navbar-collapse collapse">
<!-- BEGIN SIDEBAR MENU1 -->
<ul class="page-sidebar-menu hidden-sm hidden-xs" data-auto-scroll="true" data-slide-speed="200">

    <li class="start active open">
        <a href="javascript:;">
            <i class="fa fa-cogs"></i>
					<span class="title">
					服务审评</span>
					<span class="arrow">
					</span>
            <span class="badge badge-danger">42</span>
            <span class="selected"></span>
        </a>
        <ul class="sub-menu">
            <li class="active">
                <a href="云服务管理中心-服务审核.html">
                    未审核 </a>
            </li>
            <li>
                <a href="#">
                    未通过</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;">
            <i class="icon-settings"></i>
					<span class="title">
					服务管理</span>
					<span class="arrow open">
					</span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="云服务管理中心-服务管理.html">
                    人事管理 </a>
            </li>
            <li>
                <a href="#">
                    制度管理</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;">
            <i class="icon-basket"></i>
					<span class="title">
					商店</span>
					<span class="arrow ">
					</span>
            <span class="badge badge-danger">42</span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="#">
                    Google Maps </a>
            </li>
            <li>
                <a href="#">
                    Vector Maps </a>
            </li>
        </ul>
    </li>
</ul>

<ul class="page-sidebar-menu visible-sm visible-xs" data-slide-speed="200" data-auto-scroll="true">
<li class="start open">
    <a href="index.html">
        Dashboard <span class="selected">
					</span>
					<span class="arrow open">
					</span>
    </a>
    <ul class="sub-menu">
        <li class="active open">
            <a href="javascript:;">
                <i class="fa fa-cogs"></i>
							<span class="title">
							Page Layouts </span>
							<span class="arrow open">
							</span>
            </a>
            <ul class="sub-menu">
                <li class="active">
                    <a href="layout_horizontal_sidebar_menu.html">
                        Horizontal & Sidebar Menu </a>
                </li>
                <li>
                    <a href="index_horizontal_menu.html">
                        Dashboard & Mega Menu </a>
                </li>
                <li>
                    <a href="layout_horizontal_menu1.html">
                        Horizontal Mega Menu 1 </a>
                </li>
                <li>
                    <a href="layout_horizontal_menu2.html">
                        Horizontal Mega Menu 2 </a>
                </li>
                <li>
                    <a href="layout_fontawesome_icons.html">
                        <span class="badge badge-roundless badge-danger">new</span>Layout with Fontawesome Icons</a>
                </li>
                <li>
                    <a href="layout_glyphicons.html">
                        Layout with Glyphicon</a>
                </li>
                <li>
                    <a href="layout_full_height_portlet.html">
                        <span class="badge badge-roundless badge-success">new</span>Full Height Portlet</a>
                </li>
                <li>
                    <a href="layout_full_height_content.html">
                        <span class="badge badge-roundless badge-warning">new</span>Full Height Content</a>
                </li>
                <li>
                    <a href="layout_search_on_header1.html">
                        Search Box On Header 1 </a>
                </li>
                <li>
                    <a href="layout_search_on_header2.html">
                        Search Box On Header 2 </a>
                </li>
                <li>
                    <a href="layout_sidebar_search_option1.html">
                        Sidebar Search Option 1 </a>
                </li>
                <li>
                    <a href="layout_sidebar_search_option2.html">
                        Sidebar Search Option 2 </a>
                </li>
                <li>
                    <a href="layout_sidebar_reversed.html">
									<span class="badge badge-roundless badge-warning">
									new </span>
                        Right Sidebar Page </a>
                </li>
                <li>
                    <a href="layout_sidebar_fixed.html">
                        Sidebar Fixed Page </a>
                </li>
                <li>
                    <a href="layout_sidebar_closed.html">
                        Sidebar Closed Page </a>
                </li>
                <li>
                    <a href="layout_ajax.html">
                        Content Loading via Ajax </a>
                </li>
                <li>
                    <a href="layout_disabled_menu.html">
                        Disabled Menu Links </a>
                </li>
                <li>
                    <a href="layout_blank_page.html">
                        Blank Page </a>
                </li>
                <li>
                    <a href="layout_boxed_page.html">
                        Boxed Page </a>
                </li>
                <li>
                    <a href="layout_language_bar.html">
                        Language Switch Bar </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-th-list"></i>
							<span class="title">
							Portlets </span>
							<span class="arrow ">
							</span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="portlet_general.html">
                        General Portlets </a>
                </li>
                <li>
                    <a href="portlet_draggable.html">
                        Draggable Portlets </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-map-marker"></i>
							<span class="title">
							Maps </span>
							<span class="arrow ">
							</span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="maps_google.html">
                        Google Maps </a>
                </li>
                <li>
                    <a href="maps_vector.html">
                        Vector Maps </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="charts.html">
                <i class="fa fa-bar-chart-o"></i>
							<span class="title">
							Visual Charts </span>
            </a>
        </li>
        <li>
            <a href="login.html">
                <i class="fa fa-user"></i>
							<span class="title">
							Login Page </span>
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="#">
        Mega <span class="arrow">
					</span>
    </a>
    <ul class="sub-menu">
        <li>
            <a href="#">
                Layouts <span class="arrow">
							</span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="index_horizontal_menu.html">
                        Dashboard & Mega Menu </a>
                </li>
                <li>
                    <a href="layout_fontawesome_icons.html">
                        <span class="badge badge-roundless badge-danger">new</span>Layout with Fontawesome Icons</a>
                </li>
                <li>
                    <a href="layout_glyphicons.html">
                        Layout with Glyphicon</a>
                </li>
                <li>
                    <a href="layout_full_height_portlet.html">
                        <span class="badge badge-roundless badge-success">new</span>Full Height Portlet</a>
                </li>
                <li>
                    <a href="layout_full_height_content.html">
                        <span class="badge badge-roundless badge-warning">new</span>Full Height Content</a>
                </li>
                <li>
                    <a href="layout_horizontal_sidebar_menu.html">
                        Horizontal & Sidebar Menu </a>
                </li>
                <li>
                    <a href="layout_horizontal_menu1.html">
                        Horizontal Mega Menu 1 </a>
                </li>
                <li>
                    <a href="layout_horizontal_menu2.html">
                        Horizontal Mega Menu 2 </a>
                </li>
                <li>
                    <a href="layout_search_on_header1.html">
                        Search Box On Header 1 </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                More Layouts <span class="arrow">
							</span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="layout_search_on_header2.html">
                        Search Box On Header 2 </a>
                </li>
                <li>
                    <a href="layout_sidebar_search_option1.html">
                        Sidebar Search Option 1 </a>
                </li>
                <li>
                    <a href="layout_sidebar_search_option2.html">
                        Sidebar Search Option 2 </a>
                </li>
                <li>
                    <a href="layout_sidebar_reversed.html">
									<span class="badge badge-roundless badge-success">
									new </span>
                        Right Sidebar Page </a>
                </li>
                <li>
                    <a href="layout_sidebar_fixed.html">
                        Sidebar Fixed Page </a>
                </li>
                <li>
                    <a href="layout_sidebar_closed.html">
                        Sidebar Closed Page </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                Even More <span class="arrow">
							</span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="layout_ajax.html">
                        Content Loading via Ajax </a>
                </li>
                <li>
                    <a href="layout_disabled_menu.html">
                        Disabled Menu Links </a>
                </li>
                <li>
                    <a href="layout_blank_page.html">
                        Blank Page </a>
                </li>
                <li>
                    <a href="layout_boxed_page.html">
                        Boxed Page </a>
                </li>
                <li>
                    <a href="layout_language_bar.html">
                        Language Switch Bar </a>
                </li>
            </ul>
        </li>
    </ul>
</li>
<li>
    <a href="#">
        Full Mega <span class="arrow">
					</span>
    </a>
    <ul class="sub-menu">
        <li>
            <a href="#">
                Layouts <span class="arrow">
							</span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="index_horizontal_menu.html">
                        Dashboard & Mega Menu </a>
                </li>
                <li>
                    <a href="layout_glyphicons.html">
                        Layout with Glyphicon <span class="badge badge-roundless badge-danger">
									new </span>
                    </a>
                </li>
                <li>
                    <a href="layout_horizontal_sidebar_menu.html">
                        Horizontal & Sidebar Menu </a>
                </li>
                <li>
                    <a href="layout_horizontal_menu1.html">
                        Horizontal Mega Menu 1 </a>
                </li>
                <li>
                    <a href="layout_horizontal_menu2.html">
                        Horizontal Mega Menu 2 </a>
                </li>
                <li>
                    <a href="layout_search_on_header1.html">
                        Search Box On Header 1 </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                More Layouts <span class="arrow">
							</span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="layout_search_on_header2.html">
                        Search Box On Header 2 </a>
                </li>
                <li>
                    <a href="layout_sidebar_search_option1.html">
                        Sidebar Search Option 1 </a>
                </li>
                <li>
                    <a href="layout_sidebar_search_option2.html">
                        Sidebar Search Option 2 </a>
                </li>
                <li>
                    <a href="layout_sidebar_reversed.html">
									<span class="badge badge-roundless badge-success">
									new </span>
                        Right Sidebar Page </a>
                </li>
                <li>
                    <a href="layout_sidebar_fixed.html">
                        Sidebar Fixed Page </a>
                </li>
                <li>
                    <a href="layout_sidebar_closed.html">
                        Sidebar Closed Page </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                Even More <span class="arrow">
							</span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="layout_ajax.html">
                        Content Loading via Ajax </a>
                </li>
                <li>
                    <a href="layout_disabled_menu.html">
                        Disabled Menu Links </a>
                </li>
                <li>
                    <a href="layout_blank_page.html">
                        Blank Page </a>
                </li>
                <li>
                    <a href="layout_boxed_page.html">
                        Boxed Page </a>
                </li>
                <li>
                    <a href="layout_language_bar.html">
                        Language Switch Bar </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                Accordions <span class="arrow">
							</span>
            </a>
            <ul class="sub-menu">
                <li>
                    <div id="accordion2" class="panel-group mega-menu-responsive-content">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" class="collapsed">
                                        Mega Menu Info #1 </a>
                                </h4>
                            </div>
                            <div id="collapseOne2" class="panel-collapse in">
                                <div class="panel-body">
                                    Metronic Mega Menu Works for fixed and responsive layout and has the facility to include (almost) any Bootstrap elements.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" class="collapsed">
                                        Mega Menu Info #2 </a>
                                </h4>
                            </div>
                            <div id="collapseTwo2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Metronic Mega Menu Works for fixed and responsive layout and has the facility to include (almost) any Bootstrap elements.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2">
                                        Mega Menu Info #3 </a>
                                </h4>
                            </div>
                            <div id="collapseThree2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Metronic Mega Menu Works for fixed and responsive layout and has the facility to include (almost) any Bootstrap elements.
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</li>
<li>
    <a>
        Classic <span class="arrow">
					</span>
    </a>
    <ul class="sub-menu">
        <li>
            <a href="#">
                Section 1 </a>
        </li>
        <li>
            <a href="#">
                Section 2 </a>
        </li>
        <li>
            <a href="#">
                Section 3 </a>
        </li>
        <li>
            <a href="#">
                Section 4 </a>
        </li>
        <li>
            <a href="#">
                Section 5 </a>
        </li>
        <li>
            <a href="javascript:;">
                More options <span class="arrow">
							</span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#">
                        Second level link </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        More options <span class="arrow">
									</span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="index.html">
                                Third level link </a>
                        </li>
                        <li>
                            <a href="index.html">
                                Third level link </a>
                        </li>
                        <li>
                            <a href="index.html">
                                Third level link </a>
                        </li>
                        <li>
                            <a href="index.html">
                                Third level link </a>
                        </li>
                        <li>
                            <a href="index.html">
                                Third level link </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="index.html">
                        Second level link </a>
                </li>
                <li>
                    <a href="index.html">
                        Second level link </a>
                </li>
                <li>
                    <a href="index.html">
                        Second level link </a>
                </li>
            </ul>
        </li>
    </ul>
</li>
</ul>

</div>
</div>

<div class="page-content-wrapper">
	<div class="page-content">
		<div class="col-md-5">
			<div class="col-md-12 plr0 border wow fadeInLeft animated animated" data-wow-delay="1s" style="visibility: visible; -webkit-animation-delay: 1.5s;">
				<p class="sub-title">教师工资额度分布（年薪）</p>
				<div id="ring" style="width:100%;height:359px;margin-top:20px;">
				</div>
			</div>
			<div class="col-md-12 plr0  mt40 border wow fadeInDown animated animated" data-wow-delay="1s" style="visibility: visible; -webkit-animation-delay: 5s;">
				<p class="sub-title">青年教职工收入水平/年收入</p>
				<div id="Pie" style="width:100%;height:376px;margin-top:20px;">
				</div>
			</div>
		</div>
		<div class="col-md-7" style="height:816px;">
			<div class="col-md-12 plr0 border wow fadeInRight animated animated" data-wow-delay="1s" style="visibility: visible; -webkit-animation-delay: 2s;">
				<p class="sub-title">教师职称级别工资差</p>
				<div id="Pictorial" style="width:100%;height:245px;margin-top:20px;">
				</div>
			</div>
			<div class="col-md-12 plr0 mt40">
				<div class="col-md-6 plr0 wagetext">
					<h6 class="wagetitle wow fadeInRight animated animated" data-wow-delay="1s" style="visibility: visible;">集团教师工资收入分析</h6>
					<p class="wagecon wow fadeInDown animated animated" data-wow-delay="1s" style="visibility: visible; -webkit-animation-delay: 1s;">年薪10万以下的教师占比近<strong>50%</strong>，20万以上占比不足<strong>5%</strong>。<strong>1、</strong>工资额度与教师职称高低有直接关联，相邻两级的平均工资差异由低到高不断扩大；<strong>2、</strong>从教师自身能力来看，高层次人才与普通教师的收入差距也在逐渐拉大；<strong>3、</strong>从年龄上青年教师虽然是教学与科研的主力军，但薪酬待遇却主要集中于低收入人群；<strong>4、</strong>从职务上看，身兼行政职务的教师掌握的行政、学术资源更加丰富，薪资水平及科研优势明显。</p>
				</div>
				<div class="col-md-6 plr0 border wow fadeInUp  animated animated" data-wow-delay="1.2s" style="visibility: visible; -webkit-animation-delay: 3s;">
					<p class="sub-title">不同层次人才与普通老师收入差距</p>
					<div id="His" style="width:100%;height:235px;">

					</div>
				</div>
			</div>
			<div class="col-md-12 plr0 mt40 border wow fadeInRight animated animated" data-wow-delay="1s" style="visibility: visible; -webkit-animation-delay: 4s;">
				<p class="sub-title">两类教师对比</p>
				<div id="Post" style="width:100%;height:204px;">

				</div>
			</div>
		</div>
	</div>
</div>
	<!-- END CONTENT -->

</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        2014 &copy; Metronic by keenthemes.
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="../../assets/global/plugins/respond.min.js"></script>
<script src="../../assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
<script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="../../assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="../../assets/global/plugins/jstree/dist/jstree.min.js"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script src="../../assets/admin/pages/scripts/ui-tree.js"></script>
<script src="../../assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="../../assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
        UITree.init();
    });
</script>
<!-- END JAVASCRIPTS -->
<!-- selfJs Begin-->
<script src="../../assets/datasource/js/echarts.min.js"></script>
<script src="../../assets/datasource/js/wage.js"></script>
<!-- selfJs End-->
</body>
<!-- END BODY -->
</html>