.pc_container {
    height: 350px;
    padding: 15px 1px 47px 1px;
    margin: 0px auto;
	color:#939393;
	font-size:14px;
}

.pc_container .pc_item {
    margin-left: 1px;
    width: 100%;
    height: 340px;
}

.pc_container .pc_bar_container {
    position: absolute;
    top: 320px;
    color: white;
    padding: 0px 10px 0px 10px;
    width: 100%;
    overflow:visible;
}

.pc_bar_container_underflow {
    width: 90000px;
    overflow: visible;
}

.pc_bar_container_overflow {
    overflow: hidden;
    position: absolute;
    top: 320px;
    color: white;
    margin: 0px 10px 0px 10px;
    padding: 0px;
}

.left, .center, .right {
    background-position: left;
    background-repeat: no-repeat;
    overflow: hidden;
    font-size: 1px;
    float: left;
}

.bar {
    background-position: left;
    overflow: hidden;
    font-size: 1px;
    float: left;
}

.pc_item .desc {
    position: absolute;
    width:100%;
    padding: 0 10px;
    height: 180px;
    line-height: 1.8em;
    right: 0px;
}

.pc_chart{
	height: 410px;
    padding: 15px 1px 47px 1px;
    margin: 0px auto;
	color:#939393;
	font-size:14px;
}
.pc_chart .pc_item {
    margin-left: 1px;
    width: 100%;
    height: 290px;
}

.pc_chart .pc_bar_container {
    position: absolute;
    top: 385px;
    color: white;
    padding: 0px 10px 0px 10px;
    width: 100%;
    overflow:visible;
}
.pc_chart .pc_bar_container_overflow {
    overflow: hidden;
    position: absolute;
    top: 385px;
    color: white;
    margin: 0px 10px 0px 10px;
    padding: 0px;
}