@charset "utf-8";
.page-content{
	margin-left:0 !important;
	padding:0  10px !important;
	
}
.font-size-12{
	font-size:12px
}
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
.col-sm-4{
	width:30%;
}
.col-sm-5{
	width:40%;
}
.shineGreen{
	border:1px solid #c1ffdc;
	box-shadow:0 0 30px 10px rgba(90,255,191,0.2);
	padding:0 0 20px 0;
}
.score,.stu,.surplus,.school,.ring{
	padding-left:15px;
	padding-right:15px;
	padding-bottom:15px
}
.score .title, .stu .title,.surplus .title,.school .title,.ring .title{
	padding:10px 0;
	text-align:center;
	margin:0 0 0 ;
	font-size:16px;
}
.table.table-light>thead>tr>th,.table.table-light>tbody>tr>td{padding:0 5px;}

.mSchool{
	background:url(../images/mSchool.png) no-repeat;
	width:49px;
	height:26px;
	text-align:center;
	color:#fff;
	font-size:14px;
	line-height: 28px;
}
.dialog_btn {
    width:20px;
	height:20px;
    float: right;
	background:url(../images/dialog_btn.png) no-repeat;
}
.gray{
	background:#f0f0f0
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
	padding:2px;
}
.plr0{
	padding:0;
}
.stu,.school,.ring{
	border-top:1px solid #e1e5e1;
}
.h2-tit-1{
	margin: 0 !important;
    padding: 22px 0;
    text-align: center;
    font-size: 36px;
    color: #00b64f;
}
.subtitle{
	padding:0;
	margin:0;
	color:#565656;
	font-size:16px;
	text-align:center;
}
.subtitle strong{
	color:#ff6840
}
.campus-map {
	position: relative;
	width: 524px;
	height: 629px;
	margin: 30px auto;
	background: url(../images/map-bg.png) no-repeat;
}
.campus-map .campus-distribution {
    position: relative;
}
.campus-map .dijing {
    left: 212px;
    top: 482px;
}
.campus-map .campus-distribution a {
    position: absolute;
    color: #565656;
	font-size:16px;
}
.campus-map .dijing a {
    left: -51px;
    top: 3px;
}
.house {
	display: inline-block;
	position: absolute;
    width: 44px;
    height: 37px;
	background:url(../images/house.png) no-repeat;
}
.dijing-house,.chongshi-house,.chongshi-primary-house,.this-high-house,.this-junior-house{
	left: 12px;
    top: -2px;
}
.campus-map .chongshi-junior {
  left: 260px;
  top: 480px;
}
.campus-map .chongshi-junior a {
  left: 57px;
  top: 7px;
}
.campus-map .chongshi-primary {
  left: 278px;
  top: 520px;
}
.campus-map .chongshi-primary a {
  left: 60px;
  top: 6px;
}
.campus-map .baoli {
  left: 284px;
  top: 398px;
}
.campus-map .baoli a {
  left: 45px;
  top: 9px;
}
.campus-map .this-high {
  left: 125px;
  top: 375px;
}
.campus-map .this-high a {
  left: 55px;
  top: 5px;
}
.campus-map .this-junior {
  left: 147px;
  top: 412px;
}
.campus-map .this-junior a {
  left: 55px;
  top: 5px;
}
.campus-map .jiaming-junior {
  left: 67px;
  top: 184px;
}
.campus-map .jiaming-junior a {
  left: 46px;
  top: 7px;
}
.campus-map .jiaming-jisu {
  left:110px;
  top: 213px;
}
.campus-map .jiaming-jisu a {
  left: 46px;
  top: 7px;
}
.campus-map .jiaming-east {
  z-index: 10;
  left: 65px;
  top: 147px;
}
.campus-map .jiaming-east a {
  left: 46px;
  top: 7px;
}
.campus-map .jiaming-primary {
  left: -67px;
  top: 249px;
}
.campus-map .jiaming-primary a {
  left: 58px;
  top: 3px;
}
.jiaming-primary-house{
	left:171px
}
.campus-map .jiaming-oulu {
  left:235px;
  top: 167px;
}
.campus-map .jiaming-oulu a {
  left: 46px;
  top: 7px;
}
.campus-map .campus-distribution a:hover{
	color:#ff6840;
	text-decoration:none
}
.BarSubtitle{
	font-size:12px;
	color:#565656;
	padding:0;
	margin:0;
	text-align:center
}
.BarTitle{
	color:#565656;
	font-size:14px;
	line-height:20px;
	text-align:center;
	padding:0;
	margin:0;
}
.BarSubtitle strong{
	color:#ff6840
	
}
.table.table-light>thead>tr>th,.table.table-light>tbody>tr>td{
	line-height:30px;
}
.margin-top-30{
	margin-top:30px;
}

